* {

    padding: 0px;
    margin: 0px;
    font-size: 16px;

}

body, html {

    width: 100%;
    height: 100%;
    display: flex;

}

body {

    overflow: hidden;
    background-color: #282829;

}

/* home */
.chat-login {

    height: 100vh;
    width: 100%;
    padding-top: 45vh;

}

.chat-login-logo{

    float: left;
    width: 100%;
    display: flex;
    margin-bottom: 25px;
    justify-content: center;
    color: #4fd675;
    font-size: 28px;

}

.chat-login-apelido {

    float: left;
    width: 100%;
    display: flex;
    margin-bottom: 5px;
    justify-content: center;

}

.chat-login-entrar {

    float: left;
    width: 100%;
    display: flex;
    justify-content: center;

}

/* relativo ao chat em si */
.chat-container {

    display: grid;
    grid-template-rows: 1fr auto;
    height: 100vh;
    width: 100%;

}

.chat-container-mensagens {

    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: calc(100% - 10px);
    padding: 0 5px;

}

.container-enviar {

    padding-left: 1vh;
    padding-right: 1vh;
    display: flex;
    justify-content: center;

}

input[type=text] {

    width: 300px;
    padding: 8px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-width: 0px;
    border-radius: 0px;

}

input[type=submit] {

    padding: 8px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-width: 0px;
    border-radius: 0px;

}

.chat-mensagem-recebida {

    background-color: #4fd675;
    padding: 10px;
    width: 45vh;
    display: block;
    overflow-wrap: break-word;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #ffffff;

}

/* responsivo */
@media (max-width: 768px) {

    .chat-login {

        padding-left: 1vh;
        padding-right: 1vh;

    }

    .chat-container-mensagens {

        height: 93vh;

    }

    .container-enviar {

        height: 5vh;
        padding: 1vh;

    }

    input[type=text] {

        margin: 0px;
        padding: 5px;
        width: 100%;

    }

}
