<!DOCTYPE html>
<html>
    <head>
        <title>Chat - www.salomaotech.com</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="estilo.css">
        <script src="code.jquery.com_jquery-3.7.0.min.js"></script>
    </head>
    <body>

        <!-- campo de apelido oculto -->
        <input type="hidden" id="apelido" th:value="${param.apelido}">

        <div class="chat-container">

            <!-- exibe as mensagens -->
            <div class="chat-container-mensagens" id="mensagens-lista"></div>

            <!-- campo que envia as mensagens -->
            <div class="container-enviar">

                <input type="text" placeholder="Mensagem" id="mensagem">

            </div>

        </div>

        <!-- carregar lógica de envio e recebimento de mensagens via ajax -->
        <script src="ajax.js"></script>

    </body>
</html>
