<!DOCTYPE html>
<html>
    <head>
        <title>Chat - www.salomaotech.com</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="estilo.css">
    </head>
    <body>

        <div class="chat-login">

            <form method="POST" th:action="@{/logar}">

                <div class="chat-login-logo">
                    Chat - www.salomaotech.com
                </div>

                <div class="chat-login-apelido">
                    <input type="text" placeholder="Apelido" name="apelido">
                </div>

                <div class="chat-login-entrar">
                    <input type="submit" value="Entrar na sala">
                </div>

            </form>

        </div>

    </body>
</html>
