<!DOCTYPE html>
<html>
    <head>
        <title>Chat - www.salomaotech.com</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="estilo.css">
    </head>
    <body>

        <div class="">

            <div class="">
                <input type="text" placeholder="Apelido" name="apelido">
            </div>

            <div class="">
                <input type="submit" value="Entrar na sala">
            </div>

        </div>

    </body>
</html>
